
body {
    background-color: rgb(109, 139, 196);
}
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td,
	th {
		border: 1px solid #110f0f;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #207ca7;
	}
.centered {
    text-align: center;
    margin-top: 10vh;
    transform: translateY(-50%);
    }
      